set -euo pipefail
MNT=$(mktemp -d)
sudo mount -o loop {{disk}} "$MNT"
cp "$MNT"/vmlinux {{rev}}/vmlinux
cp "$MNT"/rootfs.ext4 {{rev}}/rootfs.ext4
cp "$MNT"/fc-base.json {{rev}}/fc-base.json
if [ -f "$MNT/build.log" ]; then
  cp "$MNT"/build.log {{rev}}/build.log
fi
sudo umount "$MNT"
rmdir "$MNT"
